.cache
auto-save-list
cider-storm
eln-cache
eclipse.jdt.ls
elpa
elpy
transient
url
workspace
.dap-breakpoints
.emacs.desktop
.emacs.desktop.lock
.lsp-session-v1
.org-id-locations
projectile-bookmarks.eld
projectile.cache
session*
tramp
init.elc